

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    background-image: url(https://i.pinimg.com/originals/a1/75/4f/a1754fe7952721f74d5fd2dd565f5013.jpg);
    background-repeat:no-repeat;
  
}
.addp{
    text-align: center;
    margin-top: 20px;
    font-style:inherit;
    font-size:30px;
}

#login-conteiner {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    margin-left: 50px;
    font-family: 'Dosis', sans-serif;
  }
  
  label, input {
    display: block;
    width: 100%;
    text-align:left;
    border-radius: 10px
    
  }
  
  label {
    font-weight: bold;
    font-size:xx-large;
  }
  
  input {
    height: 60px;
    font-size: xx-large
  }
  
  input[type="submit"]{
    text-align: center;
    color: white;
    text-transform:uppercase;
    font-weight: bold;
    margin-left: 50px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    margin-top: 20px;
    background-color: #6f09f5;
    cursor:pointer;
    font-size:medium;
    font-family: 'Dosis', sans-serif;
  }
  
  center{
    margin-top: 10vh;
    font-size: xx-large
  }

.center{
    width: 300px;
}